In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 魔法函数：内嵌绘图，不需要show()就可以显示图片
%matplotlib inline 
# 解决中文显示问题
plt.rcParams['font.sans-serif'] = ['SimHei']  # 用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False  # 用来正常显示负号

In [2]:
# 读取数据
data_raw=pd.read_excel('./data/crx_dataV1.xls')
# 保存
# data.to_excel('./data.xls',index=False)

In [3]:
# 查看数据基本信息
print('查看数据基本信息：')
print('shape:',data_raw.shape)
print('\n头部5行: \n\n',data_raw.head())
print('\n尾部5行: \n\n',data_raw.tail())
print('\n各个属性的摘要:\n',data_raw.describe())

查看数据基本信息：
shape: (695, 17)

头部5行:

    ID A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13  A14  A15 A16
0   1  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202    0   +
1   2  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43  560   +
2   3  a   24.5  0.500  u  g  q  h  1.50  t   f    0   f   g  280  824   +
3   4  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100    3   +
4   5  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120    0   +

尾部5行:

       ID A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13  A14  A15  \
690  686  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260    0
691  687  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200  394
692  688  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200    1
693  689  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280  750
694  690  b     35   3.375  u  g   c   h  8.29  f   f    0   t   g    0    0

    A16
690   -
691   -
692   -
693   -
694   -

各个属性的摘要:
                ID          A3          A8         A11            A15
count  695.000000  695.000000  695.000000  695.000000     695.000000
mean   343.709353    4.772453    2.218201    2.387050    1012.736691
std    199.835001    5.025658    3.336142    4.848851    5191.803126
min      1.000000    0.000000    0.000000    0.000000       0.000000
25%    170.500000    1.000000    0.165000    0.000000       0.000000
50%    343.000000    2.750000    1.000000    0.000000       5.000000
75%    516.500000    7.165000    2.625000    3.000000     398.000000
max    690.000000   28.000000   28.500000   67.000000  100000.000000

[(9个value_counts()的小技巧，提高Pandas 改进数据分析效率_deephub的博客-CSDN博客_value_count()](https://blog.csdn.net/deephub/article/details/120073895?ops_request_misc=%7B%22request%5Fid%22%3A%22166590647316782417092324%22%2C%22scm%22%3A%2220140713.130102334..%22%7D&request_id=166590647316782417092324&biz_id=0&utm_medium=distribute.pc_search_result.none-task-blog-2~all~sobaiduend~default-3-120073895-null-null.142^v56^new_blog_pos_by_title,201^v3^control_2&utm_term=value_counts&spm=1018.2226.3001.4187)

In [4]:
# for col in data_raw.columns:
#     print(col,' value_counts():')
#     print(data_raw[col].value_counts())

# 统计某一列各种值的数量
data_raw['A1'].value_counts()

b    472
a    211
?     12
Name: A1, dtype: int64

In [5]:
# 也可以用来查看重复的行
data_raw.value_counts()

ID   A1  A2     A3      A4  A5  A6  A7  A8      A9  A10  A11  A12  A13  A14  A15   A16
101  b   37.50  1.750   y   p   c   bb  0.250   t   f    0    t    g    164  400   -      2
52   b   26.00  1.000   u   g   q   v   1.750   t   f    0    t    g    280  0     +      2
78   a   19.17  0.585   y   p   aa  v   0.585   t   f    0    t    g    160  0     -      2
10   b   42.50  4.915   y   p   w   v   3.165   t   f    0    t    g    52   1442  +      2
242  b   48.25  25.085  u   g   w   v   1.750   t   t    3    f    g    120  14    +      2
                                                                                         ..
235  a   58.42  21.000  u   g   i   bb  10.000  t   t    13   f    g    0    6700  +      1
236  a   20.67  1.835   u   g   q   v   2.085   t   t    5    f    g    220  2503  +      1
237  b   26.17  0.250   u   g   i   bb  0.000   t   f    0    t    g    0    0     +      1
238  b   21.33  7.500   u   g   aa  v   1.415   t   t    1    f    g    80   9800  +      1
690  b   35.00  3.375   u   g   c   h   8.290   f   f    0    t    g    0    0     -      1
Length: 690, dtype: int64

In [6]:
duplicatedFlag = data_raw.duplicated(keep=False) # 重复的行，均标记为True，例如，若行2,4,6是重复的，则全部标记为True
booleanIdx = duplicatedFlag.to_numpy()
print('\n去重之前,有重复的数据：\n',data_raw[booleanIdx])

data=data_raw.drop_duplicates() # 去除重复行

# 检查一下，看看是不是真的删掉了重复行
duplicatedFlag = data.duplicated(keep=False) # 重复的行，均标记为True，例如，若行2,4,6是重复的，则全部标记为True
booleanIdx = duplicatedFlag.to_numpy()
print('\n去重之后,无重复的数据：\n',data[booleanIdx])

去重之前,有重复的数据：
       ID A1     A2      A3 A4 A5  A6  A7     A8 A9 A10  A11 A12 A13  A14  \
9     10  b   42.5   4.915  y  p   w   v  3.165  t   f    0   t   g   52
51    52  b     26   1.000  u  g   q   v  1.750  t   f    0   t   g  280
59    10  b   42.5   4.915  y  p   w   v  3.165  t   f    0   t   g   52
78    78  a  19.17   0.585  y  p  aa   v  0.585  t   f    0   t   g  160
81    78  a  19.17   0.585  y  p  aa   v  0.585  t   f    0   t   g  160
101   52  b     26   1.000  u  g   q   v  1.750  t   f    0   t   g  280
103  101  b   37.5   1.750  y  p   c  bb  0.250  t   f    0   t   g  164
108  101  b   37.5   1.750  y  p   c  bb  0.250  t   f    0   t   g  164
205  242  b  48.25  25.085  u  g   w   v  1.750  t   t    3   f   g  120
246  242  b  48.25  25.085  u  g   w   v  1.750  t   t    3   f   g  120

      A15 A16
9    1442   +
51      0   +
59   1442   +
78      0   -
81      0   -
101     0   +
103   400   -
108   400   -
205    14   +
246    14   +

去重之后,无重复的数据：
 Empty DataFrame
Columns: [ID, A1, A2, A3, A4, A5, A6, A7, A8, A9, A10, A11, A12, A13, A14, A15, A16]
Index: []

[Python Pandas DataFrame.isin()用法及代码示例 - 纯净天空 (vimsky.com)](https://vimsky.com/examples/usage/python-pandas-dataframe-isin.html)

In [7]:
# 数据中的缺失值用？表示，所以需要查找？
# 先用isin() 将?标记为True,其余标记为False
# 再用sum() 分别对每一列求和即可求出没一列中？的数量
miss_count=data.isin(['?']).sum() 
miss_count
# 显然数据中是存在缺失值的

ID      0
A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [8]:
# 以A1为例，输出A1中有缺失值的行
data[data['A1'].isin(['?'])]

,ID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
253,249,?,24.5,12.750,u,g,c,bb,4.750,t,t,2,f,g,73,444,+
332,328,?,40.83,3.500,u,g,i,bb,0.500,f,f,0,f,s,1160,0,-
351,347,?,32.25,1.500,u,g,c,v,0.250,f,f,0,t,g,372,122,-
379,375,?,28.17,0.585,u,g,aa,v,0.040,f,f,0,f,g,260,1004,-
458,454,?,29.75,0.665,u,g,w,v,0.250,f,f,0,t,g,300,0,-
484,480,?,26.5,2.710,y,p,?,?,0.085,f,f,0,f,s,80,0,-
494,490,?,45.33,1.000,u,g,q,v,0.125,f,f,0,t,g,263,0,-
525,521,?,20.42,7.500,u,g,k,v,1.500,t,t,1,f,g,160,234,+
603,599,?,20.08,0.125,u,g,q,v,1.000,f,t,1,f,g,240,768,+
606,602,?,42.25,1.750,y,p,?,?,0.000,f,f,0,t,g,150,1,-
646,642,?,33.17,2.250,y,p,cc,v,3.500,f,f,0,t,g,200,141,-
678,674,?,29.5,2.000,y,p,e,h,2.000,f,f,0,f,g,256,17,-

[pandas.DataFrame.replace — pandas 1.5.0 documentation (pydata.org)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html)

[(cnblogs.com)](https://www.cnblogs.com/Allen-rg/p/10148212.html)

[ 缺失值处理python实现_Audrey_Meng的博客-CSDN博客](https://blog.csdn.net/weixin_42902413/article/details/87856623?ops_request_misc=%7B%22request%5Fid%22%3A%22166591157616782425195155%22%2C%22scm%22%3A%2220140713.130102334..%22%7D&request_id=166591157616782425195155&biz_id=0&utm_medium=distribute.pc_search_result.none-task-blog-2~all~top_positive~default-2-87856623-null-null.142^v56^new_blog_pos_by_title,201^v3^control_2&utm_term=python缺失值处理&spm=1018.2226.3001.4187)

In [9]:
# 将缺失值替换为pandas可以处理的值(np.nan)
data=data.replace("?",np.nan) # 将?替换为nan,
# 和上面的统计？数量类似
# 统计nan的数量
data.isnull().sum()

ID      0
A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

[ fillna()函数详解_Denver_Liao的博客-CSDN博客_.fillna](https://blog.csdn.net/weixin_39549734/article/details/81221276?ops_request_misc=%7B%22request%5Fid%22%3A%22166591399616781432979044%22%2C%22scm%22%3A%2220140713.130102334..%22%7D&request_id=166591399616781432979044&biz_id=0&utm_medium=distribute.pc_search_result.none-task-blog-2~all~top_positive~default-1-81221276-null-null.142^v56^new_blog_pos_by_title,201^v3^control_2&utm_term=fillna&spm=1018.2226.3001.4187)

In [10]:
# data.dropna() # 删除有nan的行,inplace=True才会在原表上操作
data.fillna(method='ffill',inplace=True) # 用前一个值填充nan